@font-face {
    font-family: 'Gotham Regular';
    src: url('fonts/Gotham-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('fonts/Gotham\ Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Gotham Light Regular';
    src: url('fonts/Gotham\ Light\ Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('fonts/Gotham\ Ultra.otf') format('opentype');
}

html {
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gotham Regular';
    height: auto; 
    width: 100%;

    
}

.container {
    width: 100%;   
    height: auto; 
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    margin: 0;
   
}

.logo img {
    width: 12rem; 
    height: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 1rem; /*Reduce margin for smaller screens */
    font-size: 0.8rem; /* Adjust font size for smaller screens */
    
    
}

nav ul li a {
    color: black;
    text-decoration: none;
    
}

.contact_info {
    margin: 0;
    margin-right: 1.2rem;
}

.contact_info p {
    font-size: 0.8rem; /* Adjust font size for smaller screens */

}

.top {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    
}

.hero_image {
    position: relative;
    width: 100%;
    
}


.hero_image img {
    width: 100%;
    height: auto;
    margin-bottom: 0;

}

.hero_text {
    color: white;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    line-height: 10rem;
    width: 70%;
    margin-bottom: 0;
}

.hero_text h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    line-height: 4rem;
    font-family: Gotham Bold;
}

.hero_text h2 {
    font-size: 2rem;
    padding-top: 0;
    margin-top: 0;
    line-height: 3rem;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
    padding: 0;
    
}


.cta_button {
    width: 30%;
    position: absolute;
    margin-top: 1rem;
    background-color: #4990CD; /* Button background color */
    color: white; /* Button text color */
    padding: 0.5rem 1rem; /*Button padding */
    border: none; /* Remove button border */
    border-radius: 0.5rem; /* Button border radius */
    font-size: 1rem; /* Button font size */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition effect */
    
}


.cta_button:hover {
    background-color: #0056b3; /* Button background color on hover */
}


.part_2 {
    width: 100%;
    height: 35rem;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    
}

.intro {
    background-color:#2f6a9e;
    width: 95%; 
    color: white;
    margin-top: 0;
    height: 12rem;
    margin: 0 auto 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro h2 {
    text-align: center; 
    font-family: Gotham light Regular;

}

.divider {
    width: 75%;
    height: 0.2rem;
    background-color: #4990CD; 
    margin: 5% auto 5% auto;
}

.part_2_info_boxes {
    width: 97%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin:  2% auto 0% auto;    
   

}

.info_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 20rem;
    text-align: center;
    background-color: white;
    
}

.icon {
    width: 5%; 
    margin: 0 auto 0 auto;
    
}

.part_2_info_boxes h4 { 
    /* margin-top: 10%;  */
    margin-bottom: 0;
    /* margin-top: 0.5rem; */
    padding: 0;
    font-family: Gotham Bold;
    font-size: rem;
    
    /* margin-top: rem;  */
    
}

.part_2_info_boxes p {
    font-size: 0.8rem;
    width: 70%;
    /* line-height: 1.2rem; */
    text-align: left;
    margin: 0 auto;
    padding: 0;
    /* margin-bottom: 10%; */
    font-family: Gotham Light;
    color: grey;
    
}



.find_out_more_button {
    width: 6rem; 
    height: 40%;   
    background-color: #4990CD; /* Button background color */
    color: white; /* Button text color */

    margin: 0 auto 0 auto;
    border: black 1px; /* Remove button border */
    border-radius: 0.9rem; /* Button border radius */
    font-size: 0.7rem; /* Button font size */
    font-family: Gotham Light;
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition effect */
    margin-bottom: 10%;

    
}

.cta_button:hover {
    background-color: #0056b3; /* Button background color on hover */
}


/*PART 3 STYLES HOMIE*/

.part_3 {
    position: relative; 
    width: 100%; 
    height: auto; 
    border: solid white 1px;
    
}

.part_3 h3 {
    margin-top: 10%;
    margin-bottom: 5%;

}

.consultation_button_1 {
    position: absolute;
    top: 1rem; 
    right: 2.5rem; 
    width: 20%;
    background-color: #4990CD; /* Button background color */
    color: white; /* Button text color */
    padding: 0.5rem 1rem; /*Button padding */
    border: none; /* Remove button border */
    border-radius: 0.5rem; /* Button border radius */
    font-size: 1rem; /* Button font size */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition effect */
    
}

.part_3 p {
    width: 40%;
    text-align: left;
    margin: 0 auto  auto; 

}

.part_3_info_boxes {
    width: 87%;
    height: 22rem;; 
    display: flex;
    justify-content: space-between;
    margin: 5% auto 0 auto; 
    border: black 1px;    

}

.steps_info_box {
    display: flex;
    flex-direction: column;

    /* justify-content: space-between; */
    width: 30%;
    height: 18rem;
    border: solid black 1px;
    text-align: center;
}

.steps_info_box h4 { 
    /* margin-top: 10%;  */
    margin-top: 0.5rem;
    padding: 0;
    font-family: Gotham Bold;
    /* margin-top: rem;  */
    
}

.steps_info_box p {
    font-size: 0.8rem;
    width: 70%;
    line-height: 1.2rem;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 10%;
    font-family: Gotham Light;
    color: grey;
    
}

.cta_h4 {
    width: 100%;
    margin-top: 0;
    text-align: center;
    margin-bottom: 10%;
   
}

.consultation_button_2 {
    position: absolute;
    bottom: 1%; 
    left: 40%;
    width: 20%;
    background-color: #4990CD; /* Button background color */
    color: white; /* Button text color */
    padding: 0.5rem 1rem; /*Button padding */
    border: none; /* Remove button border */
    border-radius: 0.5rem; /* Button border radius */
    font-size: 1rem; /* Button font size */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition effect */
    
    
}

.divider_big {
    width: 100%;
    height: 7rem;
    background-color: #4990CD;
    margin-top: 5%;
    margin-bottom: 0;

}

/*part_4 styles as tests*/

.part_4 {
    position: relative;
    display: inline-block; 
    width: 100%;
    Height: auto;
    background-color: #ebeff3;
}


.temp_class {
    width: 40%;
    text-align: left;
    /* margin: 0 auto 0 auto;  */
    font-size: 1.8rem; 
    font-family: Gotham Bold; 
    margin-left: 10%;    

}

.part_4_image {
    width: 30%;
    height: 80%;
}

.part_4_image { 
    margin-top: 7rem;
    width: 30%;
    height: auto;
    margin-left: 10%;
}

.part_4_image img {
    width: 100%;
    height: auto; 
}

.blue_text {
    color: #4990CD;
}

footer {
    position: relative;
    width: 100%;
    margin: 0;
    font-size: 0.8em;
    background-color:#4990CD ;
    display: flex;
    justify-content: center;
    height: 8.5rem;
    color: white; 
    line-height: 1.8em;
    font-family: Gotham Light Regular; 
}

footer p  {
    width: 20%;
    /* margin: 1em 1em; */
    color: white; 
    /* line-height: 1.8rem; */
    font-family: Gotham Light Regular; 
}

footer ul {    
    list-style: none; 
    margin-left: 0;

}

footer ul li a {
    text-decoration: none;
    color: white;     

}

.bold_text {
    font-family: Gotham Bold;

}







